<!--contactus-->
<aside id="contactus" class="scrollto text-center" data-enllax-ratio=".2">

    <div class="row clearfix">

        <div class="section-heading">
            <!-- <h3>Contact Us</h3> -->
            <h2 class="section-title">Contact Us</h2>
        </div>

        <!--User contactus-->
        <div class="col-2 contactus classic">
            <img src="../assets/images/user-images/dad_contactus_image.jpg" alt="User"/>
            <p>Kasi Rami Reddy Vuyyuru</p>
            <p>Director</p>
            <hr>
            <p>
                Email: <a href= "mailto:vkrreddy2000@yahoo.com"> vkrreddy2000@yahoo.com </a>
            </p>
            <p>
                Phone: <a  href = "tel: +91 40 4851 6510"> +91 40 4851 6510 </a>
            </p>
        </div>
        <!-- End of contactus-->

        <!--User contactus-->
        <div class="col-2 contactus classic">
            <img src="../assets/images/user-images/user.jpg" alt="User"/>
            <p>G Satish Reddy</p>
            <p>Manager</p>
            <hr>
            <p> 
                Email: <a href= "mailto:sunglisten@hotmail.com"> sunglisten@hotmail.com </a>
            </p>
            <p>
                Phone: <a  href = "tel: +91 40 4851 6510"> +91 40 4851 6510 </a>
            </p>
        </div>

        <div>
            <footer>Address: S-9, T Industrial Estate, Balanagar, Hyderabad, 500037, India</footer>
        </div>
        <!-- End of contactus-->

        <!-- User contactus-->
        <!-- <blockquote class="col-3 contactus classic">
            <img src="../assets/images/user-images/user-3.jpg" alt="User"/>
            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore
                et dolore magna aliqua</q>
            <footer>Thomas Doe - Happy Customer</footer>
        </blockquote> -->
        <!-- End of contactus -->

    </div>

</aside>
<!--End of contactus-->